# direnv directory
.direnv

.DS_Store

P_03/Chapter_03/03_05-challenge/multi_list_maker/lm_lists
P_03/Chapter_03/03_06-solution/multi_list_maker/lm_lists

P_03/Chapter_05/05_04-challenge/mail_merge/letters
P_03/Chapter_05/05_05-solution/mail_merge/letters